:root {
  --primary-light: #fff;
  --font-light: #09090b;
  --secondary-light: #fff;
  --theme-light: #2260e5;

  --font-dark: #fff;
  --primary-dark: #09090b;
  --secondary-dark: #1d1d1d;
  --theme-dark: #2260e5;
}
* {
  margin: 0;
  padding: 0;
}

.Light {
  --primary: var(--primary-light);
  --font: var(--font-light);
  --secondary: var(--secondary-light);
  --theme: var(--theme-light);
}

.Dark {
  --primary: var(--primary-dark);
  --font: var(--font-dark);
  --secondary: var(--secondary-dark);
  --theme: var(--theme-dark);
}

#root {
  background-color: var(--primary);
  color: var(--font);
}
