.contact-details {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  padding: 1.5rem 2rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3px;
  font-size: 2rem;
  top: 40%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contact-details-title {
  margin-top: 0;
}

.contact-details-info {
  margin-bottom: 10px;
}

.contact-details-close-btn {
  background-color: #f44336;
  margin-top: 2rem;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-details-close-btn:hover {
  background-color: #d32f2f;
}
