.popup {
  background: rgba(255, 255, 255, 0.227);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 1.55rem;
  padding: 1.5rem 2rem;
  top: 45%;
  position: absolute;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-inner {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Ensure position relative for close button positioning */
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.book-list {
  margin-bottom: 20px;
}

.delete-btn {
  background-color: #fd5353;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.book-item {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.pin-entry {
  margin-top: 20px;
}

.pin-entry input {
  padding: 8px;
  margin-right: 10px;
}

.pin-entry button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pin-entry button:hover {
  background-color: #0056b3;
}
